/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #6e6d7d;
    /* theme gray color ok*/
}

:root {
    --theme-primary-color: #2878eb;
    /* theme primary color ok*/
}

:root {
    --theme-secondary-color: #f14d5d;
    /* theme secondary color ok*/
}

:root {
    --theme-white-color: #fff;
    /* theme white font color ok*/
}

:root {
    --theme-warning-color: #fbaf5d;
    /* theme warning/yellow font color ok*/
}

:root {
    --theme-light-color: #f1f0ff;
    /* theme light gray color ok*/
}

:root {
    --theme-gray-color: #e7e7e8;
    /* theme gray color */
}

:root {
    --theme-dark-color: #120f2d;
    /* theme dark color ok*/
}

:root {
    --theme-primary-opacity-color: rgba(191, 128, 114, .8);
    /* theme primary opacity color */
}

:root {
    --theme-secondary-opacity-color: rgba(20, 25, 38, .8);
    /* theme secondary color */
}

:root {
    --theme-dark-opacity-color: rgba(27, 27, 30, .8);
    /* theme dark opacity color */
}

:root {
    --theme-white-opacity-color: rgba(255, 255, 255, 0.5);
    /* theme white color */
}

:root {
    --theme-white-opacity90-color: rgba(255, 255, 255, 0.9);
    /* theme white color */
}


/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: 'Jost', sans-serif;
    /* Font use for normal text and general text */
}

:root {
    --theme-hiperlink-font: 'Jost', sans-serif;
    ;
    /* Font use for link text */
}

:root {
    --theme-highlight-font: 'Jost', sans-serif;
    ;
    /* Font used in title or special area */
}

:root {
    --theme-extra-font: 'Jost', sans-serif;
    /* Extra Font */
}


/*==================================
Extra CSS
==================================*/

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
    color: var(--theme-dark-color)
}

.ecommerce-header .top-header {
    padding: 10px 0;
}

.top-header-col {
    font-weight: 400;
    font-size: 16px;
}

.top-quantity {
    color: var(--theme-general-color);
}

.top-header-col> :not(:last-child) {
    border-right: none;
    padding-right: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--theme-general-color);
}

.dropdown-toggle {
    padding-right: 15px !important;
}

.navbar-nav .dropdown-toggle::after {
    display: inherit;
}

.dropdown-toggle::after {
    border: solid var(--theme-general-color);
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 8px;
}

.dropdown-toggle:hover::after {
    border-color: var(--theme-primary-color);
}

.section-top .title-area .title {
    font-size: 36px;
    font-weight: 500;
    color: var(--theme-dark-color);
}

.nav-pills .nav-link {
    color: var(--theme-dark-color);
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
    color: var(--theme-secondary-color);
}

.tab-style-1 ul li .nav-link.active::before,
.tab-style-3 ul li .nav-link.active::before {
    background-color: var(--theme-secondary-color);
}

.tab-style-1 ul li .nav-link.active::after,
.tab-style-3 ul li .nav-link.active::after {
    border-top: 5px solid var(--theme-secondary-color);
}

[class*="owl-nav-"] .nav-btn .prev-icon::before {
    content: "\f30a";
}

[class*="owl-nav-"] .nav-btn .next-icon::before {
    content: "\f30b";
}

.product-title a {
    color: var(--theme-dark-color) !important;
}

.product-price .price del {
    color: var(--theme-warning-color);
}

footer {
    font-size: 16px;
}

.footer-widget .widget-title {
    font-size: 30px;
    font-weight: 400;
}

.footer-widget ul li a {
    font-size: 16px;
}

.copyright {
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .navbar {
        justify-content: flex-start;
    }
}